    <section>
        <div class="container mt-5">
        <div class="row">
            {{#each products}}

            <div class="col-md-3 col-6 p-3">
                <div class="card" style=" background: rgb(232, 241, 240); border-radius: 15px; border-width: 3px;" >
                        <img class="card-img-top"
                        src="/product-images/{{this._id}}.jpg"
                        alt="Card image cap" style="height: 14rem; border-radius: 15px;"> 
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <h6 class="">{{this.Price}}</h6>
                        <p class="card-text">{{this.Description}}</p>
                        
                        <button onclick="AddToCart('{{this._id}}')" class="btn btn-success">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
            
        </div>
        </div>
    </section>
    
